#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.upvoteSetContainer {
  position: relative;
  width: 500px;
  border: 1px solid black;
  display: inline-block;
}
.upvoteContainer {
  width: 50px;
  height: 50px;
  margin: 10px;
  display: inline-block;
}
.svgIconBase {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
}
.upvoteArrowContainer {
  background-color: #F4F6F8;
}
.upvoteArrowContainerSelected {
  background-color: #E5E8FD;
}
.svgIcon {
  filter: invert(20%) sepia(17%) saturate(406%) hue-rotate(169deg) brightness(93%) contrast(89%);
}
.selectedUpvoteArrow {
  filter: invert(16%) sepia(100%) saturate(3666%) hue-rotate(236deg) brightness(96%) contrast(98%);
}
.addIcon {
  display: inline-block;
}